.invis
{
  opacity:0;
}

.Button-ctl.seqHeader>div
{
 background-color:#e9dd00; 
  border-radius: 0px;
}

.texteGris
{
background-color: #00000000;
  border-radius: 0px;
  border:none;
  font-size: 8px;
}

.texteRouge
{
background-color: #00000000;
  border-radius: 0px;
  border:none;
  font-size: 8px;
}

.texteBleu
{
background-color: #00000000;
  border-radius: 0px;
  border:none;
  font-size: 8px;
}


