.Button-ctl.seqSelect>div 
{
	background-color: #E2DD72;
	border-radius: 0;
	border: none;
	
}

.Button-ctl.seqSelect ctl-title.title-on-top { 
	color: black;
	text-align:center;
	font-size:20px;
	
}

.Button-ctl.seqSelect.pressed>div 
{
	background-color: #F6EA06;
	border-radius: 0;
	border: none;
}

.Button-ctl.seqSelect.active>div 
{
	background-color: #F6EA06;
	border-radius: 0;
	border: none;
}


.Button-ctl.boutonOrange>div 
{
	background-color: #E6A130;
	border-radius: 12px;
	border: none;
	
}

.Button-ctl.boutonOrange.pressed>div 
{
	background-color: #ECCC96;
	border-radius: 12px;
	border: none;
	
}

.Button-ctl.boutonOrange.active>div 
{
	background-color: #ECCC96;
	border-radius: 12px;
	border: none;
}

.Button-ctl.boutonOrange ctl-title.title-on-top { 
	color: white;
	text-align:center;
	font-size:20px;
	font-style: italic;
}

.Button-ctl.boutonOrangeCheck>div 
{
	background-color: #E6A130;
	border-radius: 12px;
	border: none;
	
}

.Button-ctl.boutonOrangeCheck.pressed>div 
{
	background-color: #ECCC96;
	border-radius: 12px;
	border: none;
	
}

.Button-ctl.boutonOrangeCheck.active>div 
{
	background-color: #ECCC96;
	border-radius: 12px;
	border: none;
}

.Button-ctl.boutonOrangeCheck.active ctl-title.title-on-top::before 
{ 
	text-align:center;
	font-size:20px;
	font-style: italic;
	color: white;
	content:"☑";
}

.Button-ctl.boutonOrangeCheck ctl-title.title-on-top::before 
{ 
	text-align:center;
	font-size:20px;
	font-style: italic;
	color: white;
	content:"☐";
}




.Button-ctl.invisible>div
{
	opacity:0;
}

.Button-ctl.invisible2>div
{
	opacity:0;
}

.invisible
{
	opacity:0;
}
